<%- include ('partials/header.ejs') %>

<div class="container">
    <h1 class="title">Add Game Session</h1>
    <form action="/add-game-session" method="POST" class="form">
        <div class="form-group">
            <label for="game_id">Game:</label>
            <select id="game_id" name="game_id" class="form-control">
                <% games.forEach(function(game) { %>
                    <option value="<%= game.id %>"><%= game.name %></option>
                <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label for="play_date">Play Date:</label>
            <input type="date" id="play_date" name="play_date" class="form-control" required>
        </div>
        <button type="submit" class="btn">Add Session</button>
    </form>
</div>

<%- include ('partials/footer.ejs') %>
